<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Construction-product</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/65f923beb7.js" crossorigin="anonymous"></script>

    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" type="text/css"
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/product_page.css" />
    <link rel="stylesheet" href="/navbar.css">
    <link rel="shortcut icon" href="/pictures\favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="display">
            <div class="side-bar">
                <img src="<%=book.image_url%>" alt="agathabook" />
                <div class="rating">
                        <p>
                            <% stars=Math.floor(book.average_rating) %>
                                <%for (let i=1; i <=5; i++) {%>
                                    <%if(i<=stars){%>
                                        <i class="fa-solid fa-star"></i>
                                        <%}else{%>
                                            <i class="fa-regular fa-star"></i>
                                            <%}%>
                                                <%}%>
                        </p>
                </div>
                <div class="d-flex justify-content-center align-items-center" id="pill">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Home</button>
                        <button class="nav-link" id="v-pills-features-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-features" type="button" role="tab" aria-controls="v-pills-features"
                            aria-selected="false">Features</button>
                        <button class="nav-link" id="v-pills-buyrent-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-buyrent" type="button" role="tab" aria-controls="v-pills-buyrent"
                            aria-selected="false">Rent</button>
                    </div>
                </div>
            </div>

            <div class="content">
                <h2 class="card-title">
                    <%= book.title%>
                </h2>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <p id="abstract">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ipsa ducimus
                            cumque veniam suscipit quidem! Deleniti, ad corporis at voluptas in qui ea dolore iusto enim
                            accusantium illum, ducimus sunt architecto, culpa quae magni fuga itaque eaque dicta tempore
                            reiciendis explicabo expedita! Et ratione sunt ipsa ducimus quod autem maiores ea. Non
                            facere quam, numquam maiores, quidem officiis reiciendis deserunt vitae dolorum sed, ipsam
                            facilis! Facilis officia in expedita modi ducimus ratione dolor libero, animi sapiente.
                            Cupiditate officia quo eum debitis minima sapiente distinctio quidem nam praesentium vel,
                            laudantium rerum reiciendis similique molestias amet ad iusto voluptas, dolorem, doloribus
                            eveniet. Reprehenderit voluptates totam cum porro commodi ut illo corrupti quisquam vel
                            ducimus repudiandae sapiente fugiat perferendis nulla non numquam optio quibusdam, eum
                            repellat architecto facilis. Temporibus, alias. Rerum dolorem voluptatum sequi fugiat esse
                            nesciunt, voluptate consequatur nemo ut, dolor earum! Hic ea numquam iure assumenda
                            quibusdam atque animi debitis cupiditate culpa consequuntur optio facere voluptatibus quis
                            placeat cum odit mollitia, molestias laboriosam officia voluptatem, ducimus, architecto
                            soluta. Nihil quibusdam libero aliquam natus eius asperiores eum sequi aliquid maxime odit
                            perspiciatis eveniet itaque corrupti voluptate deserunt accusantium, at fugiat ex. Delectus
                            cum voluptatem sapiente facere, tenetur possimus quas explicabo sed incidunt accusantium
                            veniam, ratione assumenda minus. Adipisci, quam inventore? Ad ea, dignissimos earum modi
                            asperiores quidem enim deserunt! Animi voluptate esse nisi atque excepturi exercitationem
                            nam vel quidem, provident sunt, commodi voluptas maiores sapiente dicta sequi eaque.
                            Temporibus, quia! Dicta facere quibusdam libero ut vitae aut obcaecati, consectetur, in quas
                            nam officia odit. Exercitationem, illo quaerat placeat sunt ipsum cupiditate omnis ad velit
                            eos aspernatur. Quisquam aperiam optio unde alias sit dolorum? Itaque vel tempore delectus
                            distinctio deserunt ullam odio totam, ipsum aut unde eligendi porro perspiciatis voluptas,
                            temporibus nesciunt atque fuga nemo corrupti corporis mollitia numquam consequatur
                            accusantium maxime aspernatur....</p>
                    </div>

                    <div class="tab-pane fade" id="v-pills-features" role="tabpanel"
                        aria-labelledby="v-pills-features-tab">
                        <div class="spec-details">
                            <h3>Features</h3>
                            <dl>
                                <dt>Author</dt>
                                <dd>
                                    <%= book.authors %>
                                </dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>Genre</dt>
                                <dd>
                                    <%= book.genre %>
                                </dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>Material</dt>
                                <dd>
                                    <%= book.material %>
                                </dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>eBook</dt>
                                <dd>No</dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>Rating</dt>
                                <dd>
                                    <%= book.average_rating %>
                                </dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>Release</dt>
                                <dd>
                                    <%= book.release %>
                                </dd>
                            </dl>
                            <hr>
                            <dl>
                                <dt>Language</dt>
                                <dd>
                                    <%= book.language_code %>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-buyrent" role="tabpanel"
                        aria-labelledby="v-pills-buyrent-tab">
                        <h3 id="renthead">Ενοικιάστε από:</h3>
                        <ol class="prices">
                            <li class="shopname">
                                <div class="shop-container">
                                    <div class="upper">
                                        <div class="shop-logo">
                                            <img
                                                src="https://media.istockphoto.com/vectors/book-vector-symbol-icon-vector-id1178345351?b=1&k=20&m=1178345351&s=612x612&w=0&h=lQlDaDjXYvMNBTOslAynk553Qk7WUCcVtmmjMgDPCtg="></img>
                                            <a>Library</a>
                                        </div>
                                        <div class="pr-title">
                                            <p>Η δολοφονία του Ρότζερ Άκροϊντ - Agatha Christie</p>
                                            <a>Άγιος Ανδρέας, Πάτρα</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="lower">
                                        <p>$$$$</p>
                                        <span>Μεταφορικά</span><br>
                                        <span>Αντικαταβολή</span><br>
                                        <span>Σύνολο</span><br>
                                    </div>
                                    <button class="btn addToCart" type="button" data-id="<%=book._id%>">Add to cart</button>
                                </div>
                            </li>
                            <li class="shopname">
                                <div class="shop-container">
                                    <div class="upper">
                                        <div class="shop-logo">
                                            <img
                                                src="https://media.istockphoto.com/vectors/book-vector-symbol-icon-vector-id1178345351?b=1&k=20&m=1178345351&s=612x612&w=0&h=lQlDaDjXYvMNBTOslAynk553Qk7WUCcVtmmjMgDPCtg="></img>
                                            <a>Library</a>
                                        </div>
                                        <div class="pr-title">
                                            <p>Η δολοφονία του Ρότζερ Άκροϊντ - Agatha Christie</p>
                                            <a>Άγιος Ανδρέας, Πάτρα</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="lower">
                                        <p>$$$$</p>
                                        <span>Μεταφορικά</span><br>
                                        <span>Αντικαταβολή</span><br>
                                        <span>Σύνολο</span><br>
                                    </div>
                                    <button class="btn" type="button">Δες τη βιβλιοθήκη</button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>


        </div>
        <div class="recommended">
            <h3 id="werec">We also recommend:</h3>
            <div class="recommended-container">
                
                <ul class="rec_books">
                    <%recommended.forEach(item=> {%>
                    <li class="card">
                        <a href="/UnderConstruction/searchProducts/<%=item.id%>" class="pic-card-link">
                            <img src="<%=item.image_url%>"
                                alt="<%=item.image_url%>" data-id="<%=item.id%>" loading="lazy" />
                        </a>
                        <p class="book-category"><%=item.genre%></p>
                        <h2><a href="" class="card-book_title-link">
                            <%=item.title%></a>
                        </h2>
                        <div class="book-price">
                            <p>
                                Rating:<br>
                                <% stars=Math.floor(item.average_rating) %>
                                    <%for (let i=1; i <=5; i++) {%>
                                        <%if(i<=stars){%>
                                            <i class="fa-solid fa-star"></i>
                                            <%}else{%>
                                                <i class="fa-regular fa-star"></i>
                                                <%}%>
                                                    <%}%>
                            </p>
                        </div>
                    </li>
                    <% }) %>
                    
                </ul>
            </div>
        </div>
        <%- include("partials/cart.ejs") %>
            <%- include("partials/signIn.ejs") %>
                <%- include("partials/footer.ejs") %>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                        crossorigin="anonymous"></script>
                    <script src="/navbar.js"></script>
                    <script src="/app.js"></script>
                    <script src="/cart.js"></script>

</body>

</html>