<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction-search resault</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/36bce782d3.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/searchProduct.css">
    <link rel="shortcut icon" href="/pictures\favicon.ico" type="image/x-icon">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="productNav">
            <form action="/UnderConstruction/searchProducts/s" class="search">
                <label for="search">&telrec;</label>
                <input type="text" name="search" id="search" placeholder="Search Book">
            </form>
            <div class="icons">
                <i class="fa-solid fa-arrow-down-a-z icon"></i>
                <i class="fa-solid fa-arrow-down-z-a icon"></i>
                <i class="fa-solid fa-thumbs-up icon"></i>
            </div>
        </div>
        <div class="mainElement">
            <div class="sidebar">
                <div class="filters">
                    <div class="side-genres side">
                        <h2>Genres</h2>

                        <% genres.forEach(genre=> {%>
                            <input type="checkbox" name="<%= genre%>" id="<%= genre%>">
                            <label for="<%= genre%>">
                                <%= genre%>
                            </label><br>
                            <%})%>
                    </div>
                    <div class="side-material side">
                        <h2>Material</h2>
                        <i class="fa-solid fa-filter-circle-xmark" id="removeMaterial"></i>
                        <% materials.forEach(material=> {%>
                            <input type="checkbox" name="<%= material%>" id="<%= material%>">
                            <label for="<%= material%>">
                                <%= material%>
                            </label><br>
                            <%})%>
                    </div>
                    <div class="side-langs side">
                        <h2>Language Code</h2>
                        <i class="fa-solid fa-filter-circle-xmark" id="removeLang"></i>
                        <% languages.forEach(lang=> {%>
                            <input type="checkbox" name="<%= lang[0]%>" id="<%= lang[0]%>">
                            <label for="<%= lang[0]%>">
                                <%= lang[1]%>
                            </label><br>
                            <%})%>
                    </div>
                </div>
                <div class="iconContainer hidden">
                    <i class="fa-solid fa-circle-arrow-right expand-sidebar-icon"></i>
                </div>
            </div>
            <div class="displayItems">
                <% if(searchResault.length===0) {%>
                    <div class="nothingFound">Sorry there are no Book titles matching your search</div>
                    <%}%>
                        <% searchResault.forEach(item=> {%>
                            <div class="item" data-id="<%= item.id%>" data-title="<%=item.title%>" data-rating="<%=item.average_rating%>" data-lang="<%=item.language_code%>" data-material="<%= item.material%>"
                                data-genre="<%= item.genre%>">
                                <img src="<%=item.image_url%>" alt="agatha book cover">
                                <a class="title" href="/UnderConstruction/searchProducts/<%=item.id%>">
                                    <%=item.title%>
                                </a>
                                <span>Rating:</span>
                                <p>
                                    <% stars=Math.floor(item.average_rating) %>
                                        <%for (let i=1; i <=5; i++) {%>
                                            <%if(i<=stars){%>
                                                <i class="fa-solid fa-star"></i>
                                                <%}else{%>
                                                    <i class="fa-regular fa-star"></i>
                                                    <%}%>
                                                        <%}%>
                                </p>
                                <button class="addToCart"><i class="fa-solid fa-cart-plus"></i></button>
                            </div>
                            <% }) %>
            </div>
        </div>
        <%- include("partials/cart.ejs") %>
            <%- include("partials/signIn.ejs") %>
                <%- include("partials/footer.ejs") %>

                    <script src="/navbar.js"></script>
                    <script src="/app.js"></script>`
                    <script src="/searchProduct.js"></script>
                    <script src="/cart.js"></script>
</body>

</html>